body{
    background-color:cornsilk;
}

/*typography*/
h1{
    font-size: 40px;
    color:royalblue;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color:gray;
    line-height: 22px;
}

.button-link{
    border-style: solid;
    border-color:darkgray;
    background-color:mistyrose;
    border-width: 2px;
    border-radius: 15px;
    text-decoration: none;
    color:black;
    display: block;
    width: 200px;
    padding: 4px;
    margin-top: 10px;
    text-align: center;
}