body{
    background-color:cornsilk;
}

/*typography*/
h1{
    font-size: 40px;
    color:royalblue;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color:gray;
    line-height: 22px;
}

.button-link{
    border-style: solid;
    border-color:darkgray;
    background-color:mistyrose;
    border-width: 2px;
    border-radius: 15px;
    text-decoration: none;
    color:black;
    display: block;
    width: 200px;
    padding: 4px;
    margin-top: 10px;
    text-align: center;
}

.button-alert{
    border-style: double;
    border-color:cornflowerblue;
    background-color:lavender;
    border-width: 5px;
    border-radius: 5px;
    text-decoration: none;
    color:darkslateblue;
    display: block;
    width: 200px;
    padding: 4px;
    margin-top: 10px;
    text-align: center;
}

.top-banner{
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color: lightblue;
}

.main-content{
    max-width: 800px;
    margin: 0px auto;
    padding: 0 10px;
}

footer{
    height: 100px;
    padding: 10px 0;
    text-align: center;
}