body{
    background-color:cornsilk;
}

/*typography*/
h1{
    font-size: 40px;
    color:royalblue;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color:gray;
    line-height: 14px;
}

.button-links{
    border-style: solid;
    border-color:blue;
    background-color:lightgoldenrodyellow;
    border-width: 2px;
    text-decoration: none;
    color:black;
}